#RewriteEngine on
#
#RewriteRule ^home$ home.php?module=home [L]
#RewriteRule ^pinjaman\.html$ home.php?module=pinjaman&id=$1 [L]
#RewriteRule ^semua-data\.html$ home.php?module=semuadata&id=$1 [L]
#RewriteRule ^hasil\.html$ home.php?module=hasil&id=$1 [L]
#RewriteRule ^masukan_dana\.html$ home.php?module=masukan_dana&id=$1 [L]
#RewriteRule ^history\.html$ home.php?module=history&id=$1 [L]
#RewriteRule ^proses-excel\.html$ home.php?module=prosesexcel&id=$1 [L]
#RewriteRule ^hapus-data\.html$ home.php?module=hapusdata&id=$1 [L]
#Options All -Indexes
